* { /* styling för hela documentet, här anger jag bakgrundsfärn, font family samt lite startkod för att det ska bli snyggt i alla browsers. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3DBA65;
    font-family: Arial, Helvetica, sans-serif;
}


.header { /* lägger till en vit bakgrund i min header där loggan är */
    background-color: white;
}
#companyLogo { /* styling för loggan vill att loggan alltid ska vara i mitten samt anger även storleken här. */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }


#sida1P {
    padding: 10px;
    text-align: center;
}


.navbar { /* lägger till backgrund där min navigering finns använder overflow för att vill ha vit backgrund och gröna navigering knappar gör även navbar till grid för att få den responsiv */
    overflow: hidden;
    background-color: white;
    display: grid;
    justify-items: center;
}
a { /* styling för mina länkar */
   float: left;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: black;
   
    
}
a:hover { /* lägger in en backgrundsfärg när användaren har muspekaren över en av länkarna*/
    background-color:  #54FF8A;
}
#active { /* lägger in en bakgrundsfärg så man enkelt kan se vilken sida man är på*/
    background-color: #54FF8A;
}



.slide { /*sätter display till none så inte alla bilder syns samtidigt i min slide  */
    display: none;
    text-align: center;
    
}
.slideImg { /* sätter width på mina bilder i sliden */
    width: 60vw;
}
.fadeAnimation { /* kod för animationen till min slide */
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: 2s;
    animation-name: fadeAnimation;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fadeAnimation {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fadeAnimation {
    from {opacity: .4}
    to {opacity: 1}
  }


.flexContainer { /*css kod för min flexbox på sida 2 */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
.flexItem {
      margin: 20px;
      border: 2px solid #54FF8A;
  }
.flexImg {
    height: 200px;
    width: auto;
}

.cartIcon { /*css styling för min varukorg vill att den ska följa med när man scrollar därför har jag satt fixed */
    position: fixed;
    margin: 5px;
    padding: 5px;
    margin-top: 60px;
}
.cartImg {
    width: 20px;
    float: left;
}
.cartBtn {
    text-decoration: none;
    padding: 3px;
    border: 1px solid #54FF8A;
}
#messageText { /* gör att texxtarea på sida 3 inte går att resize*/
    resize: none;
}
.gridsida2 { /* gör meddelandeboxen och dem två bilderna till en grid*/
    display: grid;
    justify-items: center;
    align-items: center;
}
.gridImg {
    width: 70vw;
    height: auto;
   margin: 5px;
}
#submitBtn {
    text-decoration: none;
    padding: 3px;
    border: 2px solid #54FF8A;
}
#email {
    border: 2px solid #54FF8A;
}
#messageText {
    border: 2px solid #54FF8A;
}
#userFeedback {
    color: red;
    background-color: white;
}
#messageSent {
    color: green;
    background-color: white;
}
@media only screen and (min-width: 425px) {
    .navbar { /* gör navbaren responsiv genom att göra den till en grid och ändra beroende på skärmstorlek.*/
        grid-template-columns: auto auto auto;
        justify-items: center;
    }
}
@media only screen and (min-width: 550px) {
    .slideImg { /* sätter width på mina bilder i sliden */
        width: 50vw;
    }
}

@media only screen and (min-width: 768px) { /* gör här loggan lite mindre när man använder en större skärm */
    #companyLogo{
        width: 40%;
    }
    .flexContainer {
    flex-direction: row;
    }
    .gridsida2 {
    grid-template-columns: auto auto auto;
    }
    .gridImg {
        width: 30vw;
    }
    
}
@media only screen and (min-width: 1024px) {
    .slideImg { /* sätter width på mina bilder i sliden */
        width: 30vw;
    }
}
